@model EDSU_SYSTEM.Models.VcApplicationUpload
@using static EDSU_SYSTEM.Models.Enum
@{
    ViewData["Title"] = "";
}
<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">

        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a asp-action="index" asp-controller="home">

                    <img src="~/logo.png" class="navbar-logo" alt="logo" />
                </a>
            </li>
            <li class="nav-item theme-text">
                <a asp-action="index" asp-controller="home"> EDO STATE UNIVERSITY UZAIRUE  </a>
            </li>
        </ul>

    </header>
</div>
<!--  END NAVBAR  -->
<!--  BEGIN NAVBAR  -->
<div class="sub-header-container">
    <header class="header navbar navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

        <ul class="navbar-nav flex-row">
            <li>
                <div class="page-header">

                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Vice-Chancellor Vacancy Applicantion</span></li>
                        </ol>
                    </nav>

                </div>
            </li>
        </ul>
    </header>
</div>
<!--  END NAVBAR  -->
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">

        <nav id="sidebar">
            <div class="shadow-bottom"></div>

            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a asp-action="update" asp-controller="vacancies" asp-route-id="@Model.ApplicantId"  aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span>Personal Info.</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a asp-action="upload" asp-controller="vacancies" asp-route-id="@Model.ApplicantId" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg>
                            <span>Documents</span>
                        </div>
                    </a>
                </li>

            </ul>

        </nav>

    </div>
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                        <div class="widget-content-area br-4 p-3">
                            <div class="widget-one p-3">
                            <h6 class="">To complete your application, Kindly send the following documents to the email below:</h6>
                            <h3 class="">vcvacancy@edouniversity.edu.ng</h3>
                            
                            <a href="mailto:vcvacancy@edouniversity.edu.ng" class="btn btn-primary">Send Email</a>
                            <ul>
                                <li>- Cover Letter</li>
                                <li>- Curriculum Vitae (CV)</li>
                                <li>- Statement of Purpose or Vision</li>
                                <li>- List of Publications</li>
                                <li>- Supporting Documents (where applicable)</li>
                            </ul>
                            @*<div class="row">
                                <form class="needs-validation col-md-6" novalidate asp-action="Upload" enctype="multipart/form-data" method="post">
                                    <input asp-for="ApplicantId" hidden/>
                                    <div class="col-md-2 mt-2">
                                       
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                            <label asp-for="FileType" class="control-label"></label>
                                            <select asp-for="FileType" class="form-control">
                                                <option value="null">-- Select file type to upload --</option>
                                                <option value="Cover Letter">Cover Letter</option>
                                                <option value="Curriculum Vitae (CV)">Curriculum Vitae (CV)</option>
                                                <option value="Statement of Purpose or Vision">Statement of Purpose or Vision</option>
                                                <option value="Transcripts and Certificates">Transcripts and Certificates</option>
                                                <option value="List of Publications">List of Publications</option>
                                                <option value="Supporting Documents">Supporting Documents (where applicable)</option>
                                            </select>
                                                <span asp-validation-for="FileType" class="text-danger"></span>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="FileName" class="control-label">Upload File</label>
                                            <input asp-for="FileName" type="file" class="form-control" name="pdf" />
                                            <span asp-validation-for="FileName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="submit">Upload</button>
                                    </div>

                                </form>
                            </div>*@
                            
                            </div>
                        </div>
                    </div>

                </div>          
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->