@model IEnumerable<EDSU_SYSTEM.Models.AssetFinance>

@{
    ViewData["Title"] = "EUSL - ";
}

<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">

        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a asp-action="index" asp-controller="home">

                    <img src="~/logo.png" class="navbar-logo" alt="logo" />
                </a>
            </li>
            <li class="nav-item theme-text">
                <a asp-action="index" asp-controller="home"> EDO STATE UNIVERSITY UZAIRUE  </a>
            </li>
        </ul>

    </header>
</div>
<!--  END NAVBAR  -->
<!--  BEGIN NAVBAR  -->
<div class="sub-header-container">
    <header class="header navbar navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

        <ul class="navbar-nav flex-row">
            <li>
                <div class="page-header">

                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>EUSL</span></li>
                        </ol>
                    </nav>

                </div>
            </li>
        </ul>
    </header>
</div>

<!--  END SIDEBAR  -->
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        @*<div class="row mt-4">
            <div class="col-12" style="background-color:red">
                <img src="~/images/eusl.jpg" class="img-fluid" alt="EUSL Image">
            </div>
        </div>*@

        @if (!string.IsNullOrEmpty(ViewBag.success))
        {
            <div class="row mt-4">
                <div class="col-xl-4 col-lg-4 col-sm-4 mx-auto">
                    <div class="alert alert-success border-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                        <strong>@ViewBag.success</strong>
                    </div>
                </div>
            </div>
        }

        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <div class="mt-4"><a href="/eusl/assetfinanceform" class="btn btn-primary">Request Asset Finance</a></div>
                <div class="mt-4"><a href="/eusl/manual" class="btn btn-primary">Purchase Departmental Materials</a></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }