@model EDSU_SYSTEM.Models.Hostel

@{
    ViewData["Title"] = "Hostel - ";
}
<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">

        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a asp-action="index" asp-controller="home">

                    <img src="~/logo.png" class="navbar-logo" alt="logo" />
                </a>
            </li>
            <li class="nav-item theme-text">
                <a asp-action="index" asp-controller="home"> EDO STATE UNIVERSITY UZAIRUE  </a>
            </li>
        </ul>

    </header>
</div>
<!--  END NAVBAR  -->
<!--  BEGIN NAVBAR  -->
<div class="sub-header-container">
    <header class="header navbar navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

        <ul class="navbar-nav flex-row">
            <li>
                <div class="page-header">

                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Hostel Accommodation</span></li>
                        </ol>
                    </nav>

                </div>
            </li>
        </ul>
    </header>
</div>
<div class="main-container" id="container">
    @*<partial name="_StudentDashboardPartial" />*@
    <!--  BEGIN CONTENT AREA  -->
    <div id="content">
        <div class="row">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="col-xl-4 col-lg-4 col-sm-10 mx-auto alert alert-danger border-0 mb-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                    <strong>@ViewBag.ErrorMessage</strong>
                </div>

            }else{
                <div class="container">
                    @* <h2>Hostel Information</h2>
                    <p>Scroll down to pick hostel</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hall Name</th>
                                <th>Category</th>
                                <th>Gender</th>
                                <th>Bed Spaces</th>
                                <th>Type Code</th>
                                <th>Price Range (N)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 Hajia Aishetu Oshiomhole Hall</td>
                                <td>Premium</td>
                                <td>Female Only</td>
                                <td>Single Bed</td>
                                <td>H1-SBP-FM</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td>2 Dr. Aderemi Makanjuola Hall</td>
                                <td>Premium</td>
                                <td>Male Only</td>
                                <td>Single Bed</td>
                                <td>H2-SBP-ML</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Regular</td>
                                <td>Male Only</td>
                                <td>Double Bunks Up</td>
                                <td>H2-UBR-ML</td>
                                <td>110,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Regular</td>
                                <td>Male Only</td>
                                <td>Double Bunks Down</td>
                                <td>H2-DBR-ML</td>
                                <td>150,000</td>
                            </tr>
                            <tr>
                                <td>3 Professor T.O.K Audu Hall</td>
                                <td>Premium</td>
                                <td>Male Only</td>
                                <td>Single Beds</td>
                                <td>H3-SBP-ML</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Premium Villa</td>
                                <td>Male Only</td>
                                <td>Single Beds</td>
                                <td>H3-SBV-ML</td>
                                <td>250,000</td>
                            </tr>
                            <tr>
                                @*<td>Senator Franca Afegbua Hall</td>
                                <td>Regular</td>
                                <td>Female Only</td>
                                <td>Double Bunks Up</td>
                                <td>H5-UBR-FM</td>
                                <td>110,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Regular</td>
                                <td>Female Only</td>
                                <td>Double Bunks Down</td>
                                <td>H5-DBR-FM</td>
                                <td>150,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Premium</td>
                                <td>Female Only</td>
                                <td>Single Beds</td>
                                <td>H5-SBP-FM</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Premium Villa</td>
                                <td>Female Only</td>
                                <td>Single Beds</td>
                                <td>H5-SBV-FM</td>
                                <td>250,000</td>
                            </tr>
                            <tr>
                                @*<td>Senator Franca Afegbua Hall</td>
                                <td>Regular</td>
                                <td>Male Only</td>
                                <td>Double Bunks Up</td>
                                <td>H6-UBR-ML</td>
                                <td>110,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Regular</td>
                                <td>Male Only</td>
                                <td>Double Bunks Down</td>
                                <td>H6-DBR-ML</td>
                                <td>150,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Premium</td>
                                <td>Male Only</td>
                                <td>Single Beds</td>
                                <td>H6-SBP-ML</td>
                                <td>200,000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Premium Villa</td>
                                <td>Male Only</td>
                                <td>Single Beds</td>
                                <td>H6-SBV-ML</td>
                                <td>250,000</td>
                            </tr>
                        </tbody>
                    </table>*@
                </div>

                 <div class="container mt-5">
                    <div class="row">

                        <!-- Hostel Upgrade Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Hostel Upgrade</h5>
                                    <p class="card-text">Explore the option to upgrade your hostel accommodation.</p>
                                    <a href="#" class="btn btn-primary" onclick="showForm('upgrade')">Continue</a>
                                </div>
                            </div>
                        </div>

                        <!-- Hostel Application Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Hostel Application</h5>
                                    <p class="card-text">Pick your preferred choice of hostel and continue</p>
                                    <a href="#" class="btn btn-primary" onclick="showForm('application')">Continue</a>
                                </div>
                            </div>
                        </div>

                        <!-- Hostel Swap Card -->
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Hostel Swap</h5>
                                    <p class="card-text">Consider swapping your current hostel with another available option.</p>
                                    <a href="#" class="btn btn-primary" onclick="showForm('swap')">Explore Swapping</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Form Sections -->
                    <div class="row mt-4">
                        <div class="col-md-5" id="upgradeForm" style="display: none;">
                            <!-- Hostel Upgrade Form -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Coming Soon</h5>
                                    @*<form method="post" asp-action="upgrade" asp-route-selected-option-id="selectedOptionId">
                                        <label for="">What category do you intend to upgrade to?:</label>
                                        <select class="form-control basic" name="hostel">
                                            <option value="40000" id=12>Regular UB to Regular DB (FEMALE)</option>
                                            <option value="50000" id="13">Regular DB to PREMIUM SB (FEMALE)</option>
                                            <option value="50000" id="14">PREMIUM SB to PREMIUM VILLA SB (FEMALE)</option>
                                            <option value="40000" id="8">Regular UB to Regular DB (MALE)</option>
                                            <option value="50000" id="6">Regular DB to PREMIUM SB (MALE)</option>
                                            <option value="50000" id="10">PREMIUM SB to PREMIUM VILLA SB (MALE)</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                    </form>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" id="applicationForm" style="display: none;">
                            <!-- Hostel Application Form -->
                            <div class="card">
                                <div class="card-body">
                                    <h2>What category of hostel are you interested in? 🤨</h2>
                                    <div class="widget-content widget-content-area br-6 p-3">
                                        <form asp-action="applicantchoice" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input hidden name="utme" value="@ViewBag.utme" />
                                            <div class="form-group">
                                                <label asp-for="Id" class="control-label">Hostel Type</label>
                                                <select asp-for="Id" name="hostel" class="form-control basic" asp-items="ViewBag.HostelId"></select>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" id="swapForm" style="display: none;">
                            <!-- Hostel Swap Form -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Coming Soon</h5>
                                    @*<form>
                                        <label for="swapPreference">Swap Preference:</label>
                                        <input type="text" id="swapPreference" name="swapPreference" class="form-control" required>
                                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                    </form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function showForm(option) {
                        // Hide all forms
                        document.getElementById('upgradeForm').style.display = 'none';
                        document.getElementById('applicationForm').style.display = 'none';
                        document.getElementById('swapForm').style.display = 'none';

                        // Show the selected form
                        document.getElementById(option + 'Form').style.display = 'block';
                    }
                </script>
            }
            <!-- Content -->
           
           </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
