@model EDSU_SYSTEM.Models.Staff

@{
    ViewData["Title"] = "Details";
}
<div id="PlaceHolderHere"></div>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="StudentsRole" asp-controller="pgstudents" class="btn btn-secondary">Migrate PG Students</a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="PopulateWallet" asp-controller="pgstudents" class="btn btn-secondary">Populate PG Wallet</a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="CreateMainWalletPG" asp-controller="pgapplicants" class="btn btn-warning">Create MainWallet for PG Applicants</a>
                </div>
                <hr/>
                <br/>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="CreateJupebMainWallet" asp-controller="Students" class="btn btn-warning">Create MainWallet for JUPEB</a>
                </div>
               
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="CreateMainWalletUGA1" asp-controller="Students" class="btn btn-warning">Create MainWallet for UG Applicants</a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="allocations" asp-controller="hostels" class="btn btn-secondary">Add Allocation</a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto layout-spacing">
                    <a asp-action="EnrollStaff" asp-controller="canvas" class="btn btn-secondary">Get LMS users</a>
                </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
