@model EDSU_SYSTEM.Models.Staff

@using static EDSU_SYSTEM.Models.Enum
@{
    ViewData["Title"] = "Staff - Create";
}
 <div class="main-container" id="container">
    <partial name="_StaffDashboardPartial" />
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-spacing">
                <!-- Content -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto layout-top-spacing">
                    <a asp-action="create" class="btn btn-secondary">Add New</a>
                    <h4 class="text-center">EDO STATE UNIVERSITY UZAIRUE, EDO STATE.</h4>
                    <div class="widget-content widget-content-area br-6">
                        <div class="widget-one p-3">
                             <form class="needs-validation" novalidate asp-action="step1">
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Type" class="control-label">Category</label>
                                        <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<VacancyType>()">
                                            <option value="">-- SELECT --</option>
                                        </select>
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Surname" class="control-label">Last Name</label>
                                        <input asp-for="Surname" class="form-control" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="FirstName" class="control-label">First Name</label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="MiddleName" class="control-label">Other Name</label>
                                        <input asp-for="MiddleName" class="form-control" />
                                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="DOB" class="control-label"></label>
                                        <input asp-for="DOB" type="datetime" class="form-control" />
                                        <span asp-validation-for="DOB" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Sex" class="control-label"></label>
                                        <select asp-for="Sex" class="form-control">
                                            <option value="null">-- SELECT --</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Femlae</option>
                                            <option value="Other">Other(s)</option>
                                        </select>
                                        <span asp-validation-for="Sex" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="ContactAddress" class="control-label">Contact Address</label>
                                        <input asp-for="ContactAddress" class="form-control" />
                                        <span asp-validation-for="ContactAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="NationalityId" class="control-label">Nationality</label>
                                        <select asp-for="NationalityId" class="form-control basic" asp-items="ViewBag.NationalityId"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="StateId" class="control-label">State</label>
                                        <select asp-for="StateId" class="form-control basic" asp-items="ViewBag.StateId"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="LGAId" class="control-label">LGA</label>
                                        <select asp-for="LGAId" class="form-control basic" asp-items="ViewBag.LGAId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="SchoolEmail" class="control-label"></label>
                                        <input asp-for="SchoolEmail" class="form-control" />
                                        <span asp-validation-for="SchoolEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-group">
                                        <label asp-for="FacultyId" class="control-label"></label>
                                        <input asp-for="FacultyId" class="form-control" />
                                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                                    </div>
                                </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="form-group">
                                            <label asp-for="FacultyId" class="control-label"></label>
                                            <input asp-for="FacultyId" class="form-control" />
                                            <span asp-validation-for="FacultyId" class="text-danger"></span>
                                        </div>
                                    </div>
                            </div>
                            <button class="btn btn-primary mt-3" type="submit"> Create</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
